<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<script src="//unpkg.com/layui@2.7.6/dist/layui.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous" language="JavaScript" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
    var fakeJson = [[${regions}]];
    //变更右下角表单
    function changeTable(targetValue) {
        if (targetValue != 'select'){
            const item = document.querySelector('#rightdownList')
            while (item.firstChild) {
                item.removeChild(item.firstChild)
            }
            var html = '<ul style="padding-top: 20px; height:300px;text-align: center;"><ol id="ol3" style="padding-top: 5px;font-size: 16px;"></ol></ul>';
            $('#rightdownList').append(html);
            for (co in fakeJson[targetValue]) {
                document.getElementById("ol3").innerHTML += "&nbsp&nbsp&nbsp"+co+"&nbsp = &nbsp";
                var dx = fakeJson[targetValue][co];
                document.getElementById("ol3").innerHTML += dx+"<br>";
            }
        } else {
            const item = document.querySelector('#rightdownList')
            while (item.firstChild) {
                item.removeChild(item.firstChild)
            }
        }
    }

    function changeImage(targetValue) {
        var parames = 'file='+targetValue;
        if (targetValue != 'Please select a pattern'){
            $.ajax({
                //服务器路径
                url:"http://localhost:8080/filetregion",
                //提交服务器的数据
                data:parames,
                //响应失败的回调函数
                error:function(){
                    alert("响应失败");
                },
                //响应成功的回调函数
                success:function(data){
                    alert(data);
                    $("#tu").attr("src","http://localhost:8080/image/region/"+targetValue+".png");
                },
                //设置接收的响应数据格式
                dataType:"text",
                //设置请求方式
                type:"POST"
            });
        }else {
            alert('Please select at least one option');
            $("#tu").attr("src","http://localhost:8080/image/inupload.webp");
        }
    }
</script>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Online Decision Support System Based On Regional Co-location Pattern</title>
        <!-- 引入 layui.css -->
        <link href="//unpkg.com/layui@2.7.6/dist/css/layui.css" rel="stylesheet">
        <!-- 引入 layui.js -->
    </head>

    <body th:style="'background:url(' + '/picture/00004.webp' + ');'" style="background: #e4f1fe;">
        <div style="margin: 0 auto;">
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <div class="grid-demo grid-demo-bg1" style="height: 70px; line-height: 70px; background: #222831; color: white;">
                        <p style="text-align: center; font-size: 27px;" >Welcome To The Online Decision Support System Based On Regional Co-location Pattern</p>
                    </div>
                </div>
            </div>

            <div class="layui-bg-gray" style="padding: 20px 22px 10px 12px; width: 66%; margin-left: 16%; margin-right: 16%">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md5" style="padding: 0 10px;">
                        <div class="layui-card" style="background-color: #e4f1fe;height: 420px">
                            <div class="layui-card-header" style="text-align: center; font-size: 18px; height: 40px"><b>Partition results</b></div>
                            <div class="layui-card-body" style="max-height:400px">
                                <img src="http://localhost:8080/image/result.png" alt="文件图" style="max-height:400px; width: 100%; position: center" />
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md7" style="padding: 0 15px 0 15px; height: 420px; background-color: #e4f1fe;">
                        <div class="layui-card-header" style="text-align: center; font-size: 18px; height: 40px; margin-bottom: 10px"><b>Mining results</b></div>
                        <div class="layui-card layui-col-md5" style="left: 2%;">
                            <div class="layui-card-header" style="text-align: center; font-size: 16px; height: 32px">Global</div>
                            <div class="layui-card-body">
                                <ul style="padding-left: 30px;height:300px;text-align: left;">
                                    <ol style="font-size: 16px;" th:each="co:${global}" th:text="${co.key} + ' = ' + ${co.value} ">111</ol>
                                </ul>
                            </div>
                        </div>
                        <div class="layui-card layui-col-md6" style="left: 6%;">
                            <div class="layui-card-header" style="text-align: center; font-size: 16px; height: 32px">Regional</div>
                            <div class="layui-card-body" >
                                <ul style="padding-left: 10px;height:300px;overflow:auto;text-align: left;">
                                    <section th:each="region:${regions}">
                                        <span th:text="'region ' + ${region.key}" style="font-size: 18px;">11</span>
                                        <ol style="padding-left: 20px; font-size: 16px;" th:each="reco:${region.value}" th:text="${reco.key} + ' = ' + ${reco.value}" >1111</ol>
                                    </section>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-bg-gray" style="padding: 15px 22px 15px 12px; width: 66%; margin-left: 16%; margin-right: 16%">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md6" style="padding: 0 10px;">
                    <div class="layui-card" style="background-color: #e4f1fe; padding-bottom: 10px;">
                        <div class="layui-card-header" style="text-align: center; font-size: 18px; height: 40px;">
                            <b>Show regions by pattern</b>
                            <select name="partten" lay-verify=""  lay-search="" style="width: 120px; margin-left: 20px" onchange="changeImage(this.value)">
                                <option>Please select a pattern</option>
                                <section th:each="regional_co:${all_regional_co}">
                                    <option th:value="${regional_co}" th:text="${regional_co}">BC</option>
                                </section>
                            </select>
                        </div>
                        <div class="layui-card-body" style="height: 400px; max-height:400px" id="imagediv">
                            <img id="tu" th:src="@{picture/inupload.webp}" src="/static/picture/inupload.webp" alt="文件图" style="margin-left:5%; width: 90%; max-height: 400px; position: center">
                        </div>
                    </div>
                </div>

                <div class="layui-col-md6" style="padding:0;">
                    <div class="layui-card" style="background-color: #e4f1fe; padding-bottom: 10px">
                        <div class="layui-card-header" style="text-align: center; font-size: 18px; height: 40px;">
                            <b>Show patterns by region</b>
                                <select lay-verify=""  lay-search="" style="width: 120px; margin-left: 20px; font-size: 18px;" onchange="changeTable(this.value.split(' ')[1])">
                                    <option>Please select a region</option>
                                    <section th:each="region:${regions}">
                                        <option th:text="'region ' + ${region.key}">region1</option>
                                    </section>
                                </select>
                        </div>
                        <div class="layui-card-body">
                            <div style="height: 400px;width: 90%; margin-left: 5%; overflow:auto;text-align: left;background-color: white;" id="rightdownList">
                                <ul style="padding-left: 30px;height:300px;text-align: left;">
                                    <ol id="ol3"></ol>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer style="background: #222831;color: white;height: 45px;width: 100%;"></footer>
</html>
